<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>
    Enter user's id to send message:
    <input id="input" type="text">
    <button id="1">Connect</button>
</label>
<script>

</script>
<script>
    console.log('{{ user.id }}')
    let b = document.getElementById('1')
    b.onclick = function (e) {
        let inp = document.getElementById('input').value
        let ws = new WebSocket('ws://localhost:8000/');
        ws.onerror = () => console.log('error');
        ws.onmessage = event => {
            console.log("RECEIVED:"+ event.data)
        };
        ws.onopen = () => {
            ws.send('{{ user.id }}:' + inp);
        }
    }
</script>
</body>
</html>